body{
    font-family: 'Montserrat', sans-serif !important;
}
/*HEADER*/
p {
    text-align: center;
}

.banner {
    width: 100%;
}

main {
    background: linear-gradient(white 55%, rgba(8, 8, 8, 0.943));
}

/*MAIN*/
.principal {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    text-align: justify;
    background: #FEFEFE;
    padding: 3em 0;
}

.title-principal {
    text-align: center;
    font-size: 2em;
    clear: left;
}

.title-principal:first-letter{
    font-weight: bold;
}

/*MAIN IMAGEN*/

.utensilios {
    width: 100px;
    float: left;
    margin: 0 20px 0 0;
}

/*FIRST SECTION*/
.principal p{
    margin: 0 0 15px;
    text-align: start;
    line-height: 1.5;
}

.principal > .title-principal {
    margin: 0 0 15px;
}

.principal strong{
    font-weight: bold;
}

em strong {
    color: red;
}

.mision {
    font-size: 20px;
}

/*MAPA*/
.mapa {
    padding: 3em 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.mapa p {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.mapa > iframe {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    transition: transform .4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mapa > iframe:hover {
    transform: scale(1.04);
}

/*TERCER SECTION*/

.diferenciales{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}

.diferenciales h3{
    text-align: center;
    padding: 10px;
}

.container-diferenciales {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.list-diferenciales {
    vertical-align: top;
    align-self: start;
    font-size: 20px;
    line-height: 1;
}

.list-diferenciales > li {
    margin: 5px 10px;
}

.imgDiferenciales {
    width: 50%;
    object-fit: cover;
}

.items {
    font-style: italic;
    line-height: 1.5;
}

.items:first-child{
    font-weight: bold;
    margin: 0;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-right: 10%;
}

/*VIDEO*/

.diferenciales > iframe {
    width: 100%;
    aspect-ratio: 5/2.8;
}

@media (max-width: 480px) {
    .principal {
        margin: 0 30px;
    }
    .container-diferenciales {
        flex-direction: column;
        align-items: center;
    }
    .container-diferenciales > img {
        width: 100%;
    }
}